body {
    background-color: black;
    color: red;
    text-align: center;
    margin: auto;
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 80px;
    padding-top: 20px;
    margin: 0px;
}

#first {
    font-size: 38px;
    margin: 0px;
}

img {
    margin: auto;
    display: block;
    width: 200px;
    padding: 30px 70px 40px 70px;
}

h4 {
    font-size: 27px;
    padding: 0px;
    margin: 3px;
}

input[type="text"] {
    padding: 20px;
    margin: auto;
    line-height: 0vh;
    width: 10vw;
    background-color: white;
    border: 2px solid red;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}

input[type="submit"] {
    padding: 15px;
    margin-top: 30px;
    line-height: 2vh;
    width: 4vw;
    background-color: red;
    border: none;
    font-size: 24px;
    color: white;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}

#bookOfWeek {
margin-top: 40px;
color: white;
font-size: 35px;
}

#bowTitle {
    font-size: 50px;
    color: orange;
}

#bowAuthor {
    margin-bottom: 40px;
    color: orange;
    font-size: 30px;
}

#first {
    font-size: 40px;
    color: red;
}

#second {
    font-size: 25px;
    color: white;
    margin: 15px 550px;
}

@media (max-width: 420px){ /*max width based on so it adjusts to phone with largest screen size */
    #submit {
        margin: auto;
        width: 50px;
    }

    #textbox {
        height: 7px;
        width: 130px;
    }
    
    #second {
        font-size: 25px;
        color: white;
        margin: 15px 40px;
    }
}